/* ---------- Header ---------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    padding: 5px 50px;
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 2em;
}

header ul a:hover {
    background-color: blue;
}

header ul a li {
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 14px;
}

/* ---------- main --------- */

.mainContainer {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-bottom: 100px;
}


/* ---------- search anime ---------- */

.searchAnime {
    /* background-color: red; */
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 50px;
}

.searchAnime h1 {
    font-size: 1.2em;
    /* text-align: justify; */
    font-family: sans-serif;
}

.formSearchAnime {
    position: relative;
}

.formSearchAnime i {
    position: absolute;
    top: 10px;
    left: 14px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.568);
}

.searchAnime input {
    width: 100%;
    padding: 7px 12px 7px 34px;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, .2);
}

/* ---------- list animes ---------- */

.listAnimes {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.listAnimes h1 {
    text-align: center;
    font-size: 1.6em;
}

.seasonAnimes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    gap: 2em 0;
}

.listAnimes img {
    width: 160px;
    height: 200px;
}

/* ---------- Pagination ---------- */

.pagination {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
    padding: 10px;
}

.pagination ul {
    list-style-type: none;
    display: flex;
    gap: 1em;
}

.pagination ul li a {
    padding: 5px 10px;
    background-color: blue;
    color: white;
}